.red {
    color: red;
 }
  .bold {
    font-weight: 700;
 }
  .Header button {
    background-color: green;
    color: white;
    font: inherit;
    margin: 0px 10px 0px 10px;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
 }
.Header button:hover {
    background-color: lightgreen;
    color: black;
 }
 .Header button.Red {
    background-color: red;
 }
  .Header button.Red:hover {
    background-color: salmon;
 }
body {
    font-family: Arial;
    font-size: 17px;
}
#page {
 max-width: 1200px;
}
.headfoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#pageheader {
    padding: 20px;
    background-color: #f0e0d0;
}
#errorfield {
    color: #cf8080;
}
.entryformlbl {
    margin-right: 5px;
    margin-left: 10px;
}
#left-column {
    width: 20%;
}
#header {
    display: flex;
    flex-direction: row;
}
#title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 7px;
}
.form-button {
    background-color: #c0c0c0;
    border: 1px solid #606060;
    font-size: 15px;
    color: #606060;
    padding: 10px;
}
.row {
    margin-top:20px;
    margin-bottom: 20px;
}
#profile-desc {
    width:  100%;
    height: 250px;
}
#profile-desc-row, #location-row {
    display: flex;
    flex-direction: column;
}
#firstname, #lastname, #firstnamelabel, #lastnamelabel {
    width: 100%;
}
